<ul *ngIf="items">
  <div class='container' [dragula]="'draggable-list'">
    <li
      *ngFor="let item of items; let i = index"
      [id]="i"
    >
      <md-card class="item-card" (dblclick)="toggleItemMenu($event, i)">
        <md-checkbox color="primary" (click)="completeItem(i)"></md-checkbox>
        <span #textfield (keyup)="onEditHandler($event, $event.keyCode, textfield, i)">
          {{ item.amount }} {{ item.unit }} {{ item.name }}
        </span>
      </md-card>

      <button *ngIf="itemMenuIndex === i" md-raised-button color="accent"
        class="edit-button"
        (click)="toggleEditable($event, textfield, i)"
      >
        <md-icon *ngIf="textfield.contentEditable !== 'true'"
          class="material-icons">edit</md-icon
        >
        <md-icon *ngIf="textfield.contentEditable === 'true'"
          class="material-icons">done</md-icon
        >
      </button>

      <button *ngIf="itemMenuIndex === i" md-raised-button color="warn"
        class="delete-button"
        (click)="removeItem(i)"
      >
        <md-icon class="material-icons">delete</md-icon>
      </button>
    </li>
  </div>
</ul>
