<ul *ngIf="items">
  <div class='container' [dragula]="'draggable-list'">
    <li
      *ngFor="let item of items; let i = index"
      [style.background-color]="gradientColor(i)"
      [id]="i"
      >

      <button class="unchecked" (click)="completeItem(i)">
        <i class="fa fa-square-o"></i>
      </button>

      <span #textfield (keyup)="onEditHandler($event, $event.keyCode, textfield, i)">
        {{ item.amount }} {{ item.unit }} {{ item.name }}
      </span>

      <a *ngIf="item.onSale" href="#">
        <img class="on-sale" src="/assets/img/sale.svg" alt="on sale">
      </a>

      <button (click)="toggleEditable($event, textfield, i)">
        <i
          class="fa"
          [class.fa-pencil]="textfield.contentEditable !== 'true'"
          [class.fa-check]="textfield.contentEditable === 'true'"
        ></i>
      </button>

      <button class="remove" (click)="removeItem(i)">
        <i class="fa fa-trash"></i>
      </button>
    </li>
  </div>
</ul>
