<md-list
  *ngIf="items"
  dragula="draggable-list"
>
  <md-list-item
    *ngFor="let item of items; let i = index"
    [id]="i"
    (dblclick)="toggleItemMenu($event, i)"

  >
    <md-checkbox color="primary" (click)="completeItem(i)"></md-checkbox>
    <span class="item-text" #textfield (keyup)="onEditHandler($event, $event.keyCode, textfield, i)">
      {{ item.amount }} {{ item.unit }} {{ item.name }}
    </span>

    <div class="item-button-wrapper" [class.show]="itemMenuIndex === i">
      <button color="accent"
        class="edit-button"
        (click)="toggleEditable($event, textfield, i)"
        md-ripple
      >
        <md-icon *ngIf="textfield.contentEditable !== 'true'"
          class="material-icons">edit</md-icon
        >
        <md-icon *ngIf="textfield.contentEditable === 'true'"
          class="material-icons">done</md-icon
        >
      </button>

      <button color="warn"
        class="delete-button"
        (click)="removeItem(i)"
        md-ripple
      >
        <md-icon class="material-icons">delete</md-icon>
      </button>
    </div>
  </md-list-item>
</md-list>
