.subtitle-area {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }
}

h3 {
  flex: 1;
  margin: 0;
}

h4 {
    font-weight: bold;
}

.add-btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    color: #fff;
}