<div class="subtitle-area">
  <a [routerLink]="[ '..' ]" md-icon-button><md-icon>arrow_back</md-icon></a>
  <h3>Favourite Markets</h3>
</div>

<div *ngIf="showAddMenu"> 
  <h4>  Search for Markets </h4>
  <md-list *ngIf="favouriteMarkets?.length">
    <span *ngIf="lat > 0"> Markets around
      <a
        color="accent"
        [href]="this.locationInfo"
        target="_blank"
      > your position
      </a>
    </span>
    <md-list-item *ngFor="let market of possibleMarkets; let i = index">
      <img
        md-list-avatar
        [alt]="market.name"
        [src]="resolveImage(market.brand)"
      >
      <h4 md-line>{{ market.name }}</h4>
      <p md-line>{{ market.street }}, {{ market.zip }} {{ market.city }}</p>
      <button md-icon-button (click)="add(market)"><md-icon>star_border</md-icon></button>
    </md-list-item>
  </md-list>
  <div class="inputContainer" >
    <h5> Distance </h5>
    <md-slider flex md-discrete step="500" min="0" max="20000" [(ngModel)]="distance" id="distance" aria-label="distance" ></md-slider>
      m
    <md-input flex type="number" [(ngModel)]="distance"></md-input>
    <button md-button (click)="searchByDistance()" class="md-primary searchBtn">Search by Distance</button>
  </div>
  <div class="inputContainer" >
    <h5> ZIP Code </h5>
    <md-input flex type="number" [(ngModel)]="zipCode" placeholder="ZIP-code"></md-input>
    <button md-button (click)="searchByZip()" class="md-primary searchBtn">Search via ZIP Code</button>
  </div>
</div>

<div *ngIf="error?.length">
  <span class="error">{{ error }}</span>
</div>
<md-list *ngIf="favouriteMarkets?.length">
  <md-list-item *ngFor="let market of favouriteMarkets; let i = index">
    <img
      md-list-avatar
      [alt]="market.name"
      [src]="resolveImage(market.brand)"
    >
    <h4 md-line>{{ market.name }}</h4>
    <p md-line>{{ market.street }}, {{ market.zip }} {{ market.city }}</p>
    <button md-icon-button (click)="remove(i)"><md-icon>star</md-icon></button>
  </md-list-item>
</md-list>
<div *ngIf="!favouriteMarkets.length" class="empty"><span>No entries</span></div>
<button md-fab class="add-btn" (click)=toggleAddMenu()>
  <md-icon class="md-24">add</md-icon>
</button>
