md-list {
    background: #fff;
    padding-top: 0;
    margin-top: 8px;
}

md-list-item {
    display: block;
    position: relative;
    z-index: 1;
    transition: background-color .25s ease-in-out;
}

.md-list-item {
    overflow: visible;
    width: 100%;

    border-bottom: thin solid #eee;

    .item-text {
        flex: 1;
    }
}

.item-button-wrapper {
    position: relative;
    left: 16px;
    font-size: 0;
    width: 0;
    overflow: hidden;
    transition: width .25s ease-in;
    white-space: nowrap;
    text-align: right;

    &.show {
        width: 10rem;
    }

    button {
        display: inline-block;
        height: 48px;
        width: 3rem;
        color: #fff;
        border: none;

        &[color="warn"] {
            background-color: #F44336;
        }

        &[color="accent"] {
            background-color: #536DFE;
        }
    }
}

md-list-item.edit-mode, li.edit-mode {
    background-color: #ddd;
}

.item {
    display: flex;
    width: 100%;
}

.item-unit,
.item-amount,
.item-name {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 .1em;
    margin: 0 .1em;
    font-size: 1rem;
    line-height: 2rem;
}

.item-amount {
    text-align: right;
}

.item-unit, .item-amount {
    width: auto;
    max-width: auto;
}

.item-name {
    flex: 1;
}

.shared-indicator {
    margin: 0 .5rem;

    &.shared-indicator--highlight {
        color: #536dfe;
    }
}