<div *ngIf="!list"><h2>No list selected</h2></div>
<div *ngIf="list">

  <sl-nav-title>
    {{ list.name }}
    <i *ngIf="list.shared" class="material-icons shared-indicator">people</i>
  </sl-nav-title>

  <sl-list [items]="completedItems" deleteable></sl-list>
  <sl-list [items]="items" editable deleteable sortable></sl-list>

  <div *ngIf="!items.length && !completedItems.length" class="empty"><span>No entries</span></div>

  <form [formGroup]="form" class="list-item-form">
    <span
      *ngIf="!form.controls['itemName'].pristine && form.controls['itemName'].errors && form.controls['itemName'].errors.maxlength"
      class="form-error"
    >
      Please limit new entries to 1 - {{ MAX_LENGTH }} characters.
    </span>
    <input
      [autoCompletion]="autoCompletionFn"
      (onSelect)="addItem($event)"
      (onValueChange)="updateValue($event)"
      (onKeyup)="updateHighlighting($event, inputElem)"
      type="text"
      placeholder="Apples"
      formControlName="itemName"
      name="itemName"
      class="form-field--lg"
      [maxLength]="MAX_LENGTH"
      #inputElem
    >
    <button
      md-fab color="accent"
      (click)="addItem($event)"
      [disabled]="!form.pristine && form.invalid"
    >
      <md-icon>add</md-icon>
    </button>
  </form>
</div>
