:host {
    display: block;
    box-sizing: border-box;
    padding: 0 0 5rem 0;
}

.optimise-button {
    position: fixed;
    z-index: 1;
    bottom: 5rem;
    right: .7rem;
}

.list-item-form {
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    left: 1rem;
    right: 3rem;
    height: 3rem;
    background-color: #fff;
    box-shadow: 0 .2rem 0.4rem rgba(0, 0, 0, 0.3), 0 .4rem 0.8rem rgba(0, 0, 0, 0.15);

    &::before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 5rem;
        background: transparent;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=0 ); /* IE6-9 */
    }

    .form-error {
        position: fixed;
        bottom: 4rem;
        left: 1rem;
    }

    input {
        border: none;
        border-right: thin dotted #bbb;
        font-size: 1.5rem;
        line-height: 3rem;

        &.form-field--lg {
            padding: 0 2rem 0 .5rem;
            line-height: 3rem;
            border: none;
            width: calc(100% - 8rem);
        }
    }

    button {
        position: fixed;
        bottom: .5rem;
        right: .5rem;
        width: 4rem;
        height: 4rem;

        [disabled] {
            background: #bbb;
        }
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    -o-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -webkit-appearance: number-input;
    -moz-appearance: number-input;
    -ms-appearance: number-input;
    -o-appearance: number-input;
}
