<ul *ngIf="completedItems.length > 0" class="completed-list">
  <li *ngFor="let item of completedItems; let i = index">

    <md-card class="item-card" (dblclick)="toggleItemMenu($event, i)">
      <md-checkbox color="primary" [checked]="true" (click)="incompleteItem(i)"></md-checkbox>
      <span #textfield (keyup)="onEditHandler($event, $event.keyCode, textfield, i)">
        {{ item.amount }} {{ item.unit }} {{ item.name }}
      </span>
    </md-card>

    <button *ngIf="itemMenuIndex === i" md-raised-button color="warn"
      class="delete-button"
      (click)="removeItem(i)"
    >
      <md-icon class="material-icons">delete</md-icon>
    </button>
  </li>
</ul>
