<div *ngIf="authService.loggedIn">

  <md-sidenav #sidenav (open)="listOverview.reloadLists()">
    <md-toolbar color="primary">
      <span class="fill-remaining">Your Lists</span>
      <button md-icon-button (click)="sidenav.close()">
        <i class="material-icons">close</i>
      </button>
    </md-toolbar>
    <md-list>
      <md-list-item
        class="offers-list-item"
        routerLink="/offers"
        (click)="sidenav.close()"
      >
        <span class="offers-label">Current Offers</span>
      </md-list-item>
    </md-list>
    <sl-list-overview
      #listOverview
      (onListSelect)="sidenav.close()"
    ></sl-list-overview>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <i class="material-icons">menu</i>
    </button>

    <span class="toolbar-title fill-remaining">
      <i *ngIf="navigation.shared" class="material-icons sharedIndicator">people</i>
      {{ navigation.title }}
    </span>

    <md-menu x-position="before" #menu="mdMenu">
      <a md-menu-item [routerLink]="[ 'settings' ]">Settings</a>
      <button md-menu-item (click)="authService.logout()"> Sign Out </button>
    </md-menu>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <i class="material-icons">more_vert</i>
    </button>
  </md-toolbar>
</div>

<div *ngIf="!authService.loggedIn">
  <md-toolbar color="primary">
    <span class="toolbar-title fill-remaining">{{ navigation.title }}</span>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </md-toolbar>
</div>
