<nav>
  <md-toolbar *ngIf="authService.loggedIn" color="primary">
    <ng-content select=".sl-nav-left-menu-button"></ng-content>

    <span class="toolbar-title fill-remaining">
      <template [ngTemplateOutlet]="titleTemplate"></template>
      <span *ngIf="!titleTemplate">{{ DEFAULT_TITLE }}</span>
    </span>

    <md-menu x-position="before" #menu="mdMenu">
      <a md-menu-item [routerLink]="[ 'settings' ]">Settings</a>
      <button md-menu-item (click)="authService.logout()"> Sign Out </button>
    </md-menu>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <i class="material-icons">more_vert</i>
    </button>
  </md-toolbar>

  <md-toolbar *ngIf="!authService.loggedIn" color="primary">
    <span class="toolbar-title fill-remaining">Elisa</span>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </md-toolbar>
</nav>

