<div class="select-optimisation-container">
  <md-list>
    <md-list-item *ngFor="let optimisedListItem of optimisedList.items">
      <!-- Previous offer or item -->
      <button md-icon-button>
        <i class="material-icons">navigate_before</i>
      </button>
      <!-- Original list item -->
      <div class="item-container" *ngIf="currentSelectionIndex == -1">
        <h4 md-line>{{ optimisedListItem.item.name }}</h4>
      </div>
      <!-- Offers -->
      <div class="offer-container" *ngIf="currentSelectionIndex >= 0">
        <div class="offer-details">
          <span
            class="offer-price-label"
          >
            {{ optimisedListItem.offers[currentSelectionIndex].price }} €
          </span>
          <span
            *ngIf="offer.discount && offer.discount != '0'"
            class="offer-discount-label"
          >
            {{ optimisedListItem.offers[currentSelectionIndex].discount }}
          </span>
        </div>
        <h4 md-line>{{ optimisedListItem.offers[currentSelectionIndex].title }}</h4>
      </div>
      <!-- Next offer -->
      <button md-icon-button>
        <i class="material-icons">navigate_next</i>
      </button>
    </md-list-item>
  </md-list>
</div>
