.action-toolbar {
    margin-top: -.4em;

    .cancel-button {
        text-transform: uppercase;
    }

    .save-button {
        position: fixed;
        right: 1em;
        text-transform: uppercase;
    }
}

.load-info {
    margin-top: .4em;

    h4 {
        margin-left: .5em;
    }
}

.savings-info-card {
    margin-top: .4em;

    md-card-subtitle {
        margin-left: 1em;
    }
}

.item-name-label {
    max-width: calc(100% - 4em);
    margin-left: -1em;
}

.offer-title-label {
    max-width: calc(100% - 4em);
    margin-left: -1em;
}

.offer-market-label {
    max-width: calc(100% - 4em);
    margin-left: -1em;
    color: #777;
}

.offer-details {
    position: fixed;
    right: 3.5em;
    min-width: 3.5em;

    .offer-price-label {
        margin: 0;
        text-align: right;
    }

    .offer-discount-label {
        margin: 0;
        float: right;
        font-size: .8em;
        color: #4BAF50;
    }
}

.next-offer-button {
    position: fixed;
    right: 1em;
}

.disabled-button {
    visibility: hidden;
}
