<div class="select-optimisation-container" *ngIf="optimisedList">
  <md-list>
    <md-list-item *ngFor="let listItem of optimisedList.items">
      <button md-icon-button>
        <i class="material-icons">navigate_before</i>
      </button>
      <div class="item-container" *ngIf="listItem.selectedOfferIndex == -1">
        <h4 md-line>{{ listItem.item.name }}</h4>
      </div>
      <div class="offer-container" *ngIf="listItem.selectedOfferIndex >= 0">
        <div class="offer-details">
          <span
            class="offer-price-label"
          >
            {{ getSelectedOfferForItem(listItem).price }} €
          </span>
          <span
            *ngIf="getSelectedOfferForItem(listItem).discount
              && getSelectedOfferForItem(listItem).discount != '0'"
            class="offer-discount-label"
          >
            {{ getSelectedOfferForItem(listItem).discount }}
          </span>
        </div>
        <h4 md-line>{{ getSelectedOfferForItem(listItem).name }}</h4>
      </div>
      <button md-icon-button>
        <i class="material-icons">navigate_next</i>
      </button>
    </md-list-item>
  </md-list>
</div>
