.toolbar-fill-remaining {
  flex: 1 1 auto;
}

md-list-item span {
  cursor: pointer;
  margin: 0 0 0 .5em;
  width: 12em;
}

md-list-item:hover {
  background: #fafafa;
}

.expanded-list-item {
  height: 6em;
}

.list-overview-button {
  color: gray;
}

.list-detail-text {
  margin: 1em 1em 1em 8em;
  font-size: .8em;
  color: gray;
}
