.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}

.flex-item {
    display: inline-block;
    flex: 1;
    min-width: 16em;
    max-width: 24em;
    padding: .5em;
    margin: 0;

    -webkit-flex: 1 1 16em;
}
md-card {
    padding: 1.5em;
    box-shadow: 1px 1px 2px 1px #888888;
    border-bottom: 2px solid #4caf50 !important;
}
md-card::hover{
     box-shadow: 0 0 0 0 #888888 !important;
     border-bottom: none !important;
}
md-card a{
    text-decoration: none;
    color: black;
}
md-card-title {
    font-size: 1em;
    padding-bottom: 1em;
    border-bottom: thin solid #ccc;
}

.gu-mirror {
    position: fixed !important;
    z-index: 9999 !important;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.5;
    cursor: -webkit-grabbing;
}
.remove-container{
    margin-top: 3em;
    border: thin solid #ccc !important;
    border-bottom: none !important;
    opacity: 0.5;
    color: #888888 !important;
 }
 .form-field{
    display: inline-flex !important;
    margin: 2em 1em !important;
 }
.drag-handle{
    font-size: 1.5em;
    cursor: -webkit-grab;
    cursor: grab;
}
.remove-indicator{
    font-size: 5em;
    text-align: center;
}
form{
   margin: 1em;
   padding: 1em;
   box-shadow: 1px 1px 2px 1px #888888;
   border-bottom: 2px solid #4caf50;
   background-color: white;
   display: inline-block !important;
}
