<div 
 class="flex-container" 
 [dragula]="'draggable-listoverview'"
 [dragulaModel]="lists"
>
  <div *ngFor="let list of lists" class="flex-item">
   <a [routerLink]="[ '/list', list.id ]">
    <md-card>
      <span class="drag-handle"> ⇆ </span> 
      <md-card-title align="middle">{{ list.name }}</md-card-title>
      <md-card-actions align="middle">
        Items: {{ list.count }}
        <i> Offen: {{ amountOpen(list) }} </i>
      </md-card-actions>
      <p align="right">
       <i>
        <small>private list</small>
       </i>
      </p>
    </md-card>
   </a>
  </div>
</div>




<form [formGroup]="form">
  <span
    *ngIf="!form.controls['listName'].pristine && form.controls['listName'].errors && form.controls['listName'].errors.maxlength"
    class="form-error"
  >
    Name can only be {{ MAX_NAME_LENGTH }} characters long.
  </span>

  <input
    type="text"
    placeholder="List name"
    formControlName="listName"
    name="listName"
    class="form-field"
  >
  <button
    md-fab color="accent"
    (click)="addList($event)"
    [disabled]="!form.pristine && form.invalid"
  >
    <md-icon>add</md-icon>
  </button>
</form>

<div
 *ngIf="duringDrag"
 class="remove-container"
 [dragula]="'remove-area'"
 align="middle"
>
 <md-icon>delete</md-icon>
</div>
