$fonts: Roboto, Arial, sans-serif;

// Colors
$color-primary: #4CAF50;
$color-primary--dark: #388E3C;
$color-primary--light: #C8E6C9;
$color-accent: #536DFE;
$color-error: #c00000;
$color-warning: #c08000;
$color-success: $color-primary;

// Text colors
$color-text--heading: #fff;
$color-text--primary: #212121;
$color-text--secondary: #757575;
