<div class="subtitle-area">
  <a [routerLink]="[ '..' ]" md-icon-button><md-icon>arrow_back</md-icon></a>
  <h3>List Management</h3>
</div>

  <md-list *ngFor="let list of lists; let i = index">
    <md-list-item>

      <!--general information-->
      <md-icon *ngIf="list.shared" md-list-avatar class="avatar sharedList">people</md-icon>
      <md-icon *ngIf="!list.shared" md-list-avatar class="avatar">person</md-icon>
      <h4 md-line>{{ list.name }}</h4>
      <p md-line>{{ list.completed }} of {{ list.count }} completed
        <i *ngIf="list.shared" class="sharedList"> shared by {{ list.owner }} </i>
        <md-progress-bar mode="determinate" value="{{ list.completed / list.count * 100}}"></md-progress-bar>
      </p>
      <button *ngIf="!isExpanded(list)" md-button (click)="setExpandedList(list)">
        Share
        <md-icon>group_add</md-icon>
      </button> 
      <button *ngIf="isExpanded(list)"md-button (click)="setExpandedList(null)">
        close
        <md-icon>expand_less</md-icon>
      </button>
    </md-list-item>

    <div  *ngIf="isExpanded(list)" class="control-container">
      <!-- add contributor-->
      <form [formGroup]="shareForm" (ngSubmit)="shareList(list)">
        <md-input
          formControlName="mail"
          type="text"
          placeholder="mail adress"
          dividerColor="primary"
          class="mail-input"
        >
          <md-hint *ngIf="error.length == 0" align="end">Who do you want to share <b>{{ list.name }}</b> with?</md-hint>
          <md-hint *ngIf="error.length > 0" align="end">{{ this.error }}</md-hint>
        </md-input>
        <button
          md-icon-button
          type="submit"
        >
          <i class="material-icons">person_add</i>
        </button>
      </form>

      <!-- remove controls-->
      <ul>
        <li *ngFor="let user of this.sharedWith">
          <button 
           md-button
           class="removeBtn"
           (click)="removeContributor(list,user)"
          >
            {{ user }}
            <md-icon class="removeX">clear</md-icon>
          </button> 
        </li>
      </ul>
    </div>
  </md-list>
  
  <div>
    <span class="empty" *ngIf="lists.length == 0"> no lists </span>
  </div>


