<div class="subtitle-area">
  <a [routerLink]="[ '..' ]" md-icon-button><md-icon>arrow_back</md-icon></a>
  <h3>List Management</h3>
</div>

  <md-list *ngFor="let list of lists; let i = index">
    <md-list-item>

      <!--general information-->
      <md-icon *ngIf="!list.shared" md-list-avatar class="avatar">people</md-icon>
      <md-icon *ngIf="list.shared" md-list-avatar class="avatar">person</md-icon>
      <h4 md-line>{{ list.name }}</h4>
      <p md-line>{{ list.completed }} of {{ list.count }} completed
        <md-progress-bar mode="determinate" value="{{ list.completed / list.count * 100}}"></md-progress-bar>
      </p>
      <button *ngIf="!isExpanded(list)" md-button (click)="setExpandedList(list)">
        Share
        <md-icon>group_add</md-icon>
      </button> 
      <button *ngIf="isExpanded(list)"md-button (click)="setExpandedList(null)">
        close
        <md-icon>expand_less</md-icon>
      </button>
    </md-list-item>

      <!-- add contributor-->
    <div *ngIf="isExpanded(list)" class="add-control">
      <form [formGroup]="shareForm" (ngSubmit)="shareList(list)">
        <md-input
          formControlName="mail"
          type="text"
          placeholder="mail adress"
          dividerColor="primary"
          class="mail-input"
        >
          <md-hint align="end">Who do you want to share {{ list.name }} with?</md-hint>
        </md-input>
        <button
          md-icon-button
          type="submit"
          class="list-overview-button"
        >
          <i class="material-icons">person_add</i>
        </button>
        <span *ngIf="error.length == 0"> {{ this.error }} </span>
      </form>
    </div>

<!-- remove controls


ul mit sharedWidth. horizontal layout
li wie bei emails: Button mit name und 'X'-icon

Methode zum aufrufen: removeContributor(list, user)
-->


  
  </md-list>
  
  <div>
    <span class="empty" *ngIf="lists.length == 0"> no lists </span>
  </div>


