<form [formGroup]="form" class="register-form container">
  <label>
    <md-input
      type="email"
      placeholder="E-mail address"
      formControlName="email"
      [class.invalid]="form.controls['email'].dirty && form.controls['email'].invalid"
    ></md-input>
    <ul
      *ngIf="form.controls['email'].dirty && form.controls['email'].errors"
      class="form-error"
    >
      <li *ngIf="form.controls['email'].errors.invalidEmail">
        Please enter a valid e-mail address.
      </li>
    </ul>
  </label>

  <label>
    <md-input
      type="password"
      placeholder="Password"
      formControlName="password"
      [class.invalid]="form.controls['password'].dirty && form.controls['password'].invalid"
    ></md-input>
    <ul
      *ngIf="form.controls['password'].dirty && form.controls['password'].errors"
      class="form-error"
    >
      <li *ngIf="form.controls['password'].errors.required">
        Password is required.
      </li>
      <li *ngIf="form.controls['password'].errors.minlength">
        Password must be at least
        {{ form.controls['password'].errors.minlength.requiredLength }} characters long.
      </li>
      <li *ngIf="form.controls['password'].errors.maxlength">
        Password must be shorter than
        {{ form.controls['password'].errors.maxlength.requiredLength }} characters.
      </li>
    </ul>
  </label>

  <label>
    <md-input
      type="password"
      placeholder="Confirm Password"
      formControlName="passwordConfirmation"
      [class.invalid]="form.controls['passwordConfirmation'].dirty && form.controls['passwordConfirmation'].invalid"
    ></md-input>
    <ul
      *ngIf="form.controls['passwordConfirmation'].dirty && form.controls['passwordConfirmation'].errors"
      class="form-error"
    >
      <li *ngIf="form.controls['passwordConfirmation'].errors.required">
        Password confirmation is required.
      </li>
      <li *ngIf="form.controls['passwordConfirmation'].errors.matching">
        Password and confirmation do not match.
      </li>
    </ul>
  </label>
  <button md-raised-button class="btn btn-primary" type="submit">Register</button>
</form>