:host {
  display: block;
  position: absolute;
  top: 0;
  background-color: #0147A7;
  color: #fff;
  height: 4em;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;

  h1 {
    font-size: 1.5em;
    line-height: 2em;
  }
}