.offer-search {
    margin-top: .3em;
}

.offer-search-field {
    width: 100%;
    font-size: 1em;
    margin: -2em 0;
}

.market-offers-container {
    margin-bottom: 2em;
}

.add-offer-to-list-button {
    color: #777;
}

.offer-market-label {
    color: #777;
}

.offer-detail-labels {
    float: right;
    min-width: 3.5em;
}

.offer-price-label {
    float: right;
}

.offer-discount-label {
    font-size: .8em;
    float: right;
    color: #4BAF50;
}

.no-offers-info {
    padding: 0 2em;
}

.no-markets-info {
    padding: 0 2em 2em 1em;
    font-style: normal;
}
